.calculatorBody {
    border-radius: 12px;
    background-color: rgb(200, 200, 200);
    height: 80vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display {
    border-radius: 6px;
    background-color: grey;
    height: 20vh;
    width: 24vw;
    margin: 3vw;
}

.buttonContainer {
    background-color: grey;
    height: 54vh;
    width: 30vw;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    flex-direction: column;
}