.calculatorBody {
    border-radius: 12px;
    background-color: rgb(200, 200, 200);
    height: 80vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display {
    border-radius: 6px;
    background-color: grey;
    height: 20vh;
    width: 28vw;
    margin: 3vw;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 16vh;
}

.buttonContainer {
    background-color: grey;
    height: 54vh;
    width: 30vw;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row {
    height: 8vh;
    width: 26vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button {
    background-color: aliceblue;
    height: 8vh;
    width: 6vw;
    border-radius: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
}